{
  "mcpServers": {
    "supabase": {
      "url": "https://mcp.supabase.com/mcp?project_ref=blibxmylxcrztfhvllkj"
    },
    "asaas": {
      "url": "https://docs.asaas.com/mcp"
    },
    "onesignal": {
      "url": "https://api.onesignal.com/mcp/oauth"
    },
    "google-maps": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-google-maps"
      ],
      "envFile": "${workspaceFolder}/.env"
    }
  }
}
